<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
</head>
<body>
<h1>Список машин</h1>
<table>
    <thead>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Цвет</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">Марка</td>
        <td th:text="${car.series}">Модель</td>
        <td th:text="${car.color}">Цвет</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/cars(count=${1})}">Показать 1 машину</a><br>
<a th:href="@{/cars(count=${2})}">Показать 2 машины</a><br>
<a th:href="@{/cars(count=${3})}">Показать 3 машины</a><br>
<a th:href="@{/cars(count=${4})}">Показать 4 машины</a><br>
<a th:href="@{/cars(count=${5})}">Показать 5 машин</a><br>


</body>
</html>